
.main-header {
  text-align: center;
}

.logo {
  width: 300px;
}

.game-container {
  margin-top: 50px;
}

.game-return {
  text-align: center;
}

.search {
  text-align: center;
}

.no-resize {
  width: 200px;
  height: 300px;
  padding-bottom: 30px;
}

.blah-city {

}

.btn-primary {
  background-color: #6E32B2;
}
.btn-large {
  padding: 8px 18px;
    font-size: 10px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
